{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{%image self.image original as img %}

<section>
    <div class="row g-0">
        {% ifequal self.position "left" %}
        <div class="col-md-6" id="CardImageContainer">
        
         <img src="{{img.url}}" alt="" >
        </div>
        <div class="card-body col-md-6 align-middle" id=CardImageTextContainer>
            <div>
                <h5>{{self.title}}</h5>
                <p>{{self.subtitle}}</p>
                {% if self.btn %}
                    <a href="">{{self.btn}}</a>
                {% endif %}
            </div>
        </div>
        {%else%}
        
        <div class="card-body col-md-6 align-middle" id=CardImageTextContainer>
               <div>
                   <h5>{{self.title}}</h5>
                   <p>{{self.subtitle}}</p>
                   {% if self.btn %}
                       <a href="">{{self.btn}}</a>
                   {% endif %}
               </div>
        </div>
        <div class="col-md-6" id="CardImageContainer">
        
            <img src="{{img.url}}" alt="" >
        </div>
        {%endifequal%}

    </div>
</section>